<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="keywords" content="">
	<meta name="author" content="">
	<meta name="robots" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="W3crm:Customer Relationship Management Admin Bootstrap 5 Template">
	<meta property="og:title" content="W3crm:Customer Relationship Management Admin Bootstrap 5 Template">
	<meta property="og:description" content="W3crm:Customer Relationship Management Admin Bootstrap 5 Template">
	<meta property="og:image" content="https://w3crm.dexignzone.com/xhtml/social-image.png">
	<meta name="format-detection" content="telephone=no">
	<title>SiVeo</title>
	<link rel="shortcut icon" type="image/png" href="images/favicon.png">
	<link href="./vendor/bootstrap-select/dist/css/bootstrap-select.min.css" rel="stylesheet">
	<link href="./vendor/datatables/css/jquery.dataTables.min.css" rel="stylesheet">
    <link href="./css/style.css" rel="stylesheet">
</head>
<body data-typography="poppins" data-theme-version="light" data-layout="vertical" data-nav-headerbg="black" data-headerbg="color_1">
    <div id="main-wrapper">
        <div class="nav-header">
            <a href="index.html" class="brand-logo">
				<svg class="logo-abbr" width="39" height="23" viewBox="0 0 39 23" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path class="w3" d="M32.0362 22H19.0466L20.7071 18.7372C20.9559 18.2484 21.455 17.9378 22.0034 17.9305L31.1036 17.8093C33.0753 17.6497 33.6571 15.9246 33.7015 15.0821C33.7015 13.2196 32.1916 12.5765 31.4367 12.4878H23.7095L25.9744 8.49673H30.4375C31.8763 8.3903 32.236 7.03332 32.236 6.36814C32.3426 4.93133 30.9482 4.61648 30.2376 4.63865H28.6955C28.2646 4.63865 27.9788 4.19212 28.1592 3.8008L29.7047 0.44798C31.0903 0.394765 32.8577 0.780573 33.5683 0.980129C38.6309 3.42801 37.0988 7.98676 35.6999 9.96014C38.1513 11.9291 38.4976 14.3282 38.3644 15.2816C38.098 20.1774 34.0346 21.8005 32.0362 22Z" fill="var(--primary)"/>
					<path class="react-w" d="M9.89261 21.4094L0 2.80536H4.86354C5.41354 2.80536 5.91795 3.11106 6.17246 3.59864L12.4032 15.5355C12.6333 15.9762 12.6261 16.5031 12.3842 16.9374L9.89261 21.4094Z" fill="white"/>
					<path class="react-w" d="M17.5705 21.4094L7.67786 2.80536H12.5372C13.0894 2.80536 13.5954 3.11351 13.8489 3.60412L20.302 16.0939L17.5705 21.4094Z" fill="white"/>
					<path class="react-w" d="M17.6443 21.4094L28.2751 0H23.4513C22.8806 0 22.361 0.328884 22.1168 0.844686L14.8271 16.2416L17.6443 21.4094Z" fill="white"/>
					<path class="react-w" d="M9.89261 21.4094L0 2.80536H4.86354C5.41354 2.80536 5.91795 3.11106 6.17246 3.59864L12.4032 15.5355C12.6333 15.9762 12.6261 16.5031 12.3842 16.9374L9.89261 21.4094Z" stroke="white"/>
					<path class="react-w" d="M17.5705 21.4094L7.67786 2.80536H12.5372C13.0894 2.80536 13.5954 3.11351 13.8489 3.60412L20.302 16.0939L17.5705 21.4094Z" stroke="white"/>
					<path class="react-w" d="M17.6443 21.4094L28.2751 0H23.4513C22.8806 0 22.361 0.328884 22.1168 0.844686L14.8271 16.2416L17.6443 21.4094Z" stroke="white"/>
				</svg>
				<svg class="brand-title" width="47" height="16" viewBox="0 0 47 16" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M8.36 15.2C7.2933 15.2 6.3 15.0267 5.38 14.68C4.4733 14.32 3.68 13.82 3 13.18C2.3333 12.5267 1.8133 11.76 1.44 10.88C1.0667 9.99999 0.880005 9.03999 0.880005 7.99999C0.880005 6.95999 1.0667 5.99999 1.44 5.11999C1.8133 4.23999 2.34 3.47999 3.02 2.83999C3.7 2.18666 4.49331 1.68666 5.40001 1.33999C6.30671 0.979988 7.3 0.799988 8.38 0.799988C9.5267 0.799988 10.5733 0.999988 11.52 1.39999C12.4667 1.78666 13.2667 2.36666 13.92 3.13999L12.24 4.71999C11.7333 4.17332 11.1667 3.76666 10.54 3.49999C9.9133 3.21999 9.2333 3.07999 8.5 3.07999C7.7667 3.07999 7.0933 3.19999 6.48 3.43999C5.88 3.67999 5.35331 4.01999 4.90001 4.45999C4.46001 4.89999 4.1133 5.41999 3.86 6.01999C3.62 6.61999 3.5 7.27999 3.5 7.99999C3.5 8.71999 3.62 9.37999 3.86 9.97999C4.1133 10.58 4.46001 11.1 4.90001 11.54C5.35331 11.98 5.88 12.32 6.48 12.56C7.0933 12.8 7.7667 12.92 8.5 12.92C9.2333 12.92 9.9133 12.7867 10.54 12.52C11.1667 12.24 11.7333 11.82 12.24 11.26L13.92 12.86C13.2667 13.62 12.4667 14.2 11.52 14.6C10.5733 15 9.52 15.2 8.36 15.2ZM16.4113 15V0.999988H22.1713C23.4113 0.999988 24.4713 1.19999 25.3513 1.59999C26.2446 1.99999 26.9313 2.57332 27.4113 3.31999C27.8913 4.06666 28.1313 4.95332 28.1313 5.97999C28.1313 7.00669 27.8913 7.89329 27.4113 8.63999C26.9313 9.37329 26.2446 9.93999 25.3513 10.34C24.4713 10.7267 23.4113 10.92 22.1713 10.92H17.8513L19.0113 9.73999V15H16.4113ZM25.5713 15L22.0313 9.91999H24.8112L28.3713 15H25.5713ZM19.0113 10.02L17.8513 8.77999H22.0513C23.1979 8.77999 24.0579 8.53329 24.6312 8.03999C25.2179 7.54669 25.5113 6.85999 25.5113 5.97999C25.5113 5.08666 25.2179 4.39999 24.6312 3.91999C24.0579 3.43999 23.1979 3.19999 22.0513 3.19999H17.8513L19.0113 1.91999V10.02ZM31.0402 15V0.999988H33.1802L39.3002 11.22H38.1802L44.2002 0.999988H46.3402L46.3602 15H43.9002L43.8802 4.85999H44.4002L39.2802 13.4H38.1202L32.9202 4.85999H33.5202V15H31.0402Z" fill="black"/>
				</svg>
            </a>
        </div>
		<div class="header">
            <div class="header-content">
                <nav class="navbar navbar-expand">
                    <div class="collapse navbar-collapse justify-content-between">
                       
                       
                    </div>
				</nav>
			</div>
		</div>
        <!--**********************************
            Header end ti-comment-alt
        ***********************************-->

        <!--**********************************
            Sidebar start
        ***********************************-->
        <div class="deznav">
            <div class="deznav-scroll">
				<ul class="metismenu" id="menu">
					<li class="menu-title">Miguel Alejandro Rodríguez Cruz</li>
					<li><a class="has-arrow " href="javascript:void(0);" aria-expanded="false">
						<div class="menu-icon">
							<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M2.5 7.49999L10 1.66666L17.5 7.49999V16.6667C17.5 17.1087 17.3244 17.5326 17.0118 17.8452C16.6993 18.1577 16.2754 18.3333 15.8333 18.3333H4.16667C3.72464 18.3333 3.30072 18.1577 2.98816 17.8452C2.67559 17.5326 2.5 17.1087 2.5 16.6667V7.49999Z" stroke="#888888" stroke-linecap="round" stroke-linejoin="round"/>
								<path d="M7.5 18.3333V10H12.5V18.3333" stroke="#888888" stroke-linecap="round" stroke-linejoin="round"/>
							</svg>
						</div>	
						<span class="nav-text">Dashboard</span>
						</a>
						<ul aria-expanded="false">
							<li><a href="index.html">Dashboard Light</a></li>
							<li><a href="index-2.html">Dashboard Dark</a></li>
						</ul>
					</li>
					<li><a href="employee.html" class="" aria-expanded="false">
						<div class="menu-icon">
							<svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path fill-rule="evenodd" clip-rule="evenodd" d="M10.986 14.0673C7.4407 14.0673 4.41309 14.6034 4.41309 16.7501C4.41309 18.8969 7.4215 19.4521 10.986 19.4521C14.5313 19.4521 17.5581 18.9152 17.5581 16.7693C17.5581 14.6234 14.5505 14.0673 10.986 14.0673Z" stroke="#888888" stroke-linecap="round" stroke-linejoin="round"/>
								<path fill-rule="evenodd" clip-rule="evenodd" d="M10.986 11.0054C13.3126 11.0054 15.1983 9.11881 15.1983 6.79223C15.1983 4.46564 13.3126 2.57993 10.986 2.57993C8.65944 2.57993 6.77285 4.46564 6.77285 6.79223C6.76499 9.11096 8.63849 10.9975 10.9563 11.0054H10.986Z" stroke="#888888" stroke-linecap="round" stroke-linejoin="round"/>
							</svg>
						</div>	
							<span class="nav-text">Ventas</span>
						</a>
					</li>
					<li><a href="core-hr.html" class="" aria-expanded="false">
						<div class="menu-icon">
							<svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path fill-rule="evenodd" clip-rule="evenodd" d="M15.8381 12.7317C16.4566 12.7317 16.9757 13.2422 16.8811 13.853C16.3263 17.4463 13.2502 20.1143 9.54009 20.1143C5.43536 20.1143 2.10834 16.7873 2.10834 12.6835C2.10834 9.30245 4.67693 6.15297 7.56878 5.44087C8.19018 5.28745 8.82702 5.72455 8.82702 6.36429C8.82702 10.6987 8.97272 11.8199 9.79579 12.4297C10.6189 13.0396 11.5867 12.7317 15.8381 12.7317Z" stroke="#888888" stroke-linecap="round" stroke-linejoin="round"/>
								<path fill-rule="evenodd" clip-rule="evenodd" d="M19.8848 9.1223C19.934 6.33756 16.5134 1.84879 12.345 1.92599C12.0208 1.93178 11.7612 2.20195 11.7468 2.5252C11.6416 4.81493 11.7834 7.78204 11.8626 9.12713C11.8867 9.5459 12.2157 9.87493 12.6335 9.89906C14.0162 9.97818 17.0914 10.0862 19.3483 9.74467C19.6552 9.69835 19.88 9.43204 19.8848 9.1223Z" stroke="#888888" stroke-linecap="round" stroke-linejoin="round"/>
							</svg>
						</div>
						<span class="nav-text">Clientes</span>
						</a>
					</li>
					<li><a href="finance.html" class="" aria-expanded="false">
						<div class="menu-icon">
							<svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M6.64111 13.5497L9.38482 9.9837L12.5145 12.4421L15.1995 8.97684" stroke="#888888" stroke-linecap="round" stroke-linejoin="round"/>
								<ellipse cx="18.3291" cy="3.85021" rx="1.76201" ry="1.76201" stroke="#888888" stroke-linecap="round" stroke-linejoin="round"/>
								<path d="M13.6808 2.86012H7.01867C4.25818 2.86012 2.54651 4.81512 2.54651 7.57561V14.9845C2.54651 17.7449 4.22462 19.6915 7.01867 19.6915H14.9058C17.6663 19.6915 19.3779 17.7449 19.3779 14.9845V8.53213" stroke="#888888" stroke-linecap="round" stroke-linejoin="round"/>
							</svg>
						</div>	
						<span class="nav-text">Provedores</span>
						</a>
					</li>
					<li><a class="has-arrow " href="javascript:void(0);" aria-expanded="false">
						<div class="menu-icon">
							<svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M10.5346 2.55658H7.1072C4.28845 2.55658 2.52112 4.55216 2.52112 7.37733V14.9985C2.52112 17.8237 4.2802 19.8192 7.1072 19.8192H15.1959C18.0238 19.8192 19.7829 17.8237 19.7829 14.9985V11.3062" stroke="#888888" stroke-linecap="round" stroke-linejoin="round"/>
								<path fill-rule="evenodd" clip-rule="evenodd" d="M8.09214 10.0108L14.9424 3.16057C15.7958 2.30807 17.1791 2.30807 18.0325 3.16057L19.1481 4.27615C20.0015 5.12957 20.0015 6.51374 19.1481 7.36624L12.2648 14.2495C11.8917 14.6226 11.3857 14.8325 10.8577 14.8325H7.42389L7.51006 11.3675C7.52289 10.8578 7.73097 10.372 8.09214 10.0108Z" stroke="#888888" stroke-linecap="round" stroke-linejoin="round"/>
								<path d="M13.9014 4.21895L18.0869 8.40445" stroke="#888888" stroke-linecap="round" stroke-linejoin="round"/>
							</svg>
						</div>	
						<span class="nav-text">Tasks</span>
						</a>
						<ul aria-expanded="false">
							<li><a href="task.html">Tasks</a></li>
							<li><a href="task-summary.html">Factura</a></li>
						</ul>
					</li>
					<li><a href="performance.html" class="" aria-expanded="false">
						<div class="menu-icon">
							<svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path fill-rule="evenodd" clip-rule="evenodd" d="M14.9732 2.52102H7.0266C4.25735 2.52102 2.52118 4.48177 2.52118 7.25651V14.7438C2.52118 17.5186 4.2491 19.4793 7.0266 19.4793H14.9723C17.7507 19.4793 19.4795 17.5186 19.4795 14.7438V7.25651C19.4795 4.48177 17.7507 2.52102 14.9732 2.52102Z" stroke="#888888" stroke-linecap="round" stroke-linejoin="round"/>
								<path d="M7.73657 11.0002L9.91274 13.1754L14.2632 8.82493" stroke="#888888" stroke-linecap="round" stroke-linejoin="round"/>
							</svg>
						</div>	
							<span class="nav-text">Productos</span>
						</a>
					</li>
					<li><a href="project.html" class="" aria-expanded="false">
						<div class="menu-icon">
							<svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M6.75713 9.35157V15.64" stroke="#888888" stroke-linecap="round" stroke-linejoin="round"/>
								<path d="M11.0349 6.34253V15.64" stroke="#888888" stroke-linecap="round" stroke-linejoin="round"/>
								<path d="M15.2428 12.6746V15.64" stroke="#888888" stroke-linecap="round" stroke-linejoin="round"/>
								<path fill-rule="evenodd" clip-rule="evenodd" d="M15.2952 1.83333H6.70474C3.7103 1.83333 1.83331 3.95274 1.83331 6.95306V15.0469C1.83331 18.0473 3.70157 20.1667 6.70474 20.1667H15.2952C18.2984 20.1667 20.1666 18.0473 20.1666 15.0469V6.95306C20.1666 3.95274 18.2984 1.83333 15.2952 1.83333Z" stroke="#888888" stroke-linecap="round" stroke-linejoin="round"/>
							</svg>
						</div>	
							<span class="nav-text">Categorias</span>
						</a>
					</li>
					<li><a href="reports.html" class="" aria-expanded="false">
						<div class="menu-icon">
							<svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path fill-rule="evenodd" clip-rule="evenodd" d="M13.5096 2.53165H7.41104C5.50437 2.52432 3.94146 4.04415 3.89654 5.9499V15.7701C3.85437 17.7071 5.38979 19.3121 7.32671 19.3552C7.35512 19.3552 7.38262 19.3561 7.41104 19.3552H14.7343C16.6538 19.2773 18.1663 17.6915 18.1525 15.7701V7.36798L13.5096 2.53165Z" stroke="#888888" stroke-linecap="round" stroke-linejoin="round"/>
								<path d="M13.2688 2.52084V5.18742C13.2688 6.48909 14.3211 7.54417 15.6228 7.54784H18.1482" stroke="#888888" stroke-linecap="round" stroke-linejoin="round"/>
								<path d="M13.0974 14.0786H8.1474" stroke="#888888" stroke-linecap="round" stroke-linejoin="round"/>
								<path d="M11.2229 10.6388H8.14655" stroke="#888888" stroke-linecap="round" stroke-linejoin="round"/>
							</svg>
						</div>	
							<span class="nav-text">Salir</span>
						</a>
				</ul>
			</div>
        </div>
        <div class="content-body">
			<div class="container-fluid">
				<div class="row">
					<div class="d-flex align-items-center justify-content-between">
						<h2 >Productos</h2>
						<a class="btn btn-primary btn-sm mb-3" data-bs-toggle="modal" data-bs-target="#basicModal3">Nueva</a>
					</div>	
					<div class="col-xl-9 col-lg-8">
						<div class="row">
							<div class= "col-xl-12">
								<div>
								<h4 class="heading mb-0"><i class="fa-solid fa-user-plus text-primary me-3 mb-3"></i> Alta de Productos</h4>
								</div>
							    <div class="input-group search-area">
									<span class="input-group-text"><a href="javascript:void(0)">
										<svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
										<circle cx="8.78605" cy="8.78605" r="8.23951" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
										<path d="M14.5168 14.9447L17.7471 18.1667" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
										</svg>
									</a></span>
									<input type="text" class="form-control" placeholder="Search">
							    </div>
                       
								<div class="card h-auto">
									<div class="card-body p-0">
										<div class="table-responsive active-projects">
											<table id="projects-tbl" class="table">
												<thead>
													<tr>
														<th>Descripcion</th>
														<th>precio</th>
														<th>Acciones</th>
													</tr>
												</thead>
												<tbody>
													<tr>
														<td>
															<div class="d-flex align-items-center">
																<div class="ms-2">
																	<p class="mb-0 text-start font-w500">Pan</p>
																</div>
															</div>
														</td>
														<td>
															<p class="mb-0 font-w500">$10.00</p>	
														</td>
														<td>
															<div class="action-button">
																<button type="button" class="btn btn-primary btn-icon-xxs" data-bs-toggle="modal" data-bs-target="#basicModal2"><i class="fas fa-pencil-alt"></i></button>
																<button type="button" class="btn btn-danger btn-icon-xxs" data-bs-toggle="modal" data-bs-target="#basicModal"><i class="fas fa-trash-alt"></i></button>
															</div>
														</td>
													</tr>
													<tr>
														<td>
															<div class="d-flex align-items-center">
																<div class="ms-2">
																	<p class="mb-0 text-start font-w500">Galletas</p>
																</div>
															</div>
														</td>
														<td>
															<p class="mb-0 font-w500">$15.00</p>	
														</td>
														<td>
															<div class="action-button">
																<button type="button" class="btn btn-primary btn-icon-xxs" data-bs-toggle="modal" data-bs-target="#basicModal2"><i class="fas fa-pencil-alt"></i></button>
																<button type="button" class="btn btn-danger btn-icon-xxs" data-bs-toggle="modal" data-bs-target="#basicModal"><i class="fas fa-trash-alt"></i></button>
															</div>
														</td>
													</tr>
													<tr>
														<td>
															<div class="d-flex align-items-center">
																<div class="ms-2">
																	<p class="mb-0 text-start font-w500">Chocolate</p>
																</div>
															</div>
														</td>
														<td>
															<p class="mb-0 font-w500">$15.00</p>	
														</td>
														<td>
															<div class="action-button">
																<button type="button" class="btn btn-primary btn-icon-xxs" data-bs-toggle="modal" data-bs-target="#basicModal2"><i class="fas fa-pencil-alt"></i></button>
																<button type="button" class="btn btn-danger btn-icon-xxs" data-bs-toggle="modal" data-bs-target="#basicModal"><i class="fas fa-trash-alt"></i></button>
															</div>
														</td>
													</tr>
													<tr>
														<td>
															<div class="d-flex align-items-center">
																<div class="ms-2">
																	<p class="mb-0 text-start font-w500">Queso</p>
																</div>
															</div>
														</td>
														<td>
															<p class="mb-0 font-w500">$60.00</p>	
														</td>
														<td>
															<div class="action-button">
																<button type="button" class="btn btn-primary btn-icon-xxs" data-bs-toggle="modal" data-bs-target="#basicModal2"><i class="fas fa-pencil-alt"></i></button>
																<button type="button" class="btn btn-danger btn-icon-xxs" data-bs-toggle="modal" data-bs-target="#basicModal"><i class="fas fa-trash-alt"></i></button>
															</div>
														</td>
													</tr>
													<tr>
														<td>
															<div class="d-flex align-items-center">
																<div class="ms-2">
																	<p class="mb-0 text-start font-w500">CupCake</p>
																</div>
															</div>
														</td>
														<td>
															<p class="mb-0 font-w500">$22.00</p>	
														</td>
														<td>
															<div class="action-button">
																<button type="button" class="btn btn-primary btn-icon-xxs" data-bs-toggle="modal" data-bs-target="#basicModal2"><i class="fas fa-pencil-alt"></i></button>
																<button type="button" class="btn btn-danger btn-icon-xxs" data-bs-toggle="modal" data-bs-target="#basicModal"><i class="fas fa-trash-alt"></i></button>
															</div>
														</td>
													</tr>
													<tr>
														<td>
															<div class="d-flex align-items-center">
																<div class="ms-2">
																	<p class="mb-0 text-start font-w500">Pastel</p>
																</div>
															</div>
														</td>
														<td>
															<p class="mb-0 font-w500">$80.00</p>	
														</td>
														<td>
															<div class="action-button">
																<button type="button" class="btn btn-primary btn-icon-xxs" data-bs-toggle="modal" data-bs-target="#basicModal2"><i class="fas fa-pencil-alt"></i></button>
																<button type="button" class="btn btn-danger btn-icon-xxs" data-bs-toggle="modal" data-bs-target="#basicModal"><i class="fas fa-trash-alt"></i></button>
															</div>
														</td>
													</tr>
													<tr>
														<td>
															<div class="d-flex align-items-center">
																<div class="ms-2">
																	<p class="mb-0 text-start font-w500">Bolillo</p>
																</div>
															</div>
														</td>
														<td>
															<p class="mb-0 font-w500">$40.00</p>	
														</td>
														<td>
															<div class="action-button">
																<button type="button" class="btn btn-primary btn-icon-xxs" data-bs-toggle="modal" data-bs-target="#basicModal2"><i class="fas fa-pencil-alt"></i></button>
																<button type="button" class="btn btn-danger btn-icon-xxs" data-bs-toggle="modal" data-bs-target="#basicModal"><i class="fas fa-trash-alt"></i></button>
															</div>
														</td>
													</tr>
													<tr>
														<td>
															<div class="d-flex align-items-center">
																<div class="ms-2">
																	<p class="mb-0 text-start font-w500">Hot Cake</p>
																</div>
															</div>
														</td>
														<td>
															<p class="mb-0 font-w500">$18.00</p>	
														</td>
														<td>
															<div class="action-button">
																<button type="button" class="btn btn-primary btn-icon-xxs" data-bs-toggle="modal" data-bs-target="#basicModal2"><i class="fas fa-pencil-alt"></i></button>
																<button type="button" class="btn btn-danger btn-icon-xxs" data-bs-toggle="modal" data-bs-target="#basicModal"><i class="fas fa-trash-alt"></i></button>
															</div>
														</td>
													</tr>
													<tr>
														<td>
															<div class="d-flex align-items-center">
																<div class="ms-2">
																	<p class="mb-0 text-start font-w500">Polvoron</p>
																</div>
															</div>
														</td>
														<td>
															<p class="mb-0 font-w500">$8.00</p>	
														</td>
														<td>
															<div class="action-button">
																<button type="button" class="btn btn-primary btn-icon-xxs" data-bs-toggle="modal" data-bs-target="#basicModal2"><i class="fas fa-pencil-alt"></i></button>
																<button type="button" class="btn btn-danger btn-icon-xxs" data-bs-toggle="modal" data-bs-target="#basicModal"><i class="fas fa-trash-alt"></i></button>
															</div>
														</td>
													</tr>
													<tr>
														<td>
															<div class="d-flex align-items-center">
																<div class="ms-2">
																	<p class="mb-0 text-start font-w500">Dona</p>
																</div>
															</div>
														</td>
														<td>
															<p class="mb-0 font-w500">$25.00</p>	
														</td>
														<td>
															<div class="action-button">
																<button type="button" class="btn btn-primary btn-icon-xxs" data-bs-toggle="modal" data-bs-target="#basicModal2"><i class="fas fa-pencil-alt"></i></button>
																<button type="button" class="btn btn-danger btn-icon-xxs" data-bs-toggle="modal" data-bs-target="#basicModal"><i class="fas fa-trash-alt"></i></button>
															</div>
														</td>
													</tr>
													<tr>
														<td>
															<div class="d-flex align-items-center">
																<div class="ms-2">
																	<p class="mb-0 text-start font-w500">Cuernito</p>
																</div>
															</div>
														</td>
														<td>
															<p class="mb-0 font-w500">$12.00</p>	
														</td>
														<td>
															<div class="action-button">
																<button type="button" class="btn btn-primary btn-icon-xxs" data-bs-toggle="modal" data-bs-target="#basicModal2"><i class="fas fa-pencil-alt"></i></button>
																<button type="button" class="btn btn-danger btn-icon-xxs" data-bs-toggle="modal" data-bs-target="#basicModal"><i class="fas fa-trash-alt"></i></button>
															</div>
														</td>
													</tr>
													<tr>
														<td>
															<div class="d-flex align-items-center">
																<div class="ms-2">
																	<p class="mb-0 text-start font-w500">Fresa</p>
																</div>
															</div>
														</td>
														<td>
															<p class="mb-0 font-w500">$9.00</p>	
														</td>
														<td>
															<div class="action-button">
																<button type="button" class="btn btn-primary btn-icon-xxs" data-bs-toggle="modal" data-bs-target="#basicModal2"><i class="fas fa-pencil-alt"></i></button>
																<button type="button" class="btn btn-danger btn-icon-xxs" data-bs-toggle="modal" data-bs-target="#basicModal"><i class="fas fa-trash-alt"></i></button>
															</div>
														</td>
													</tr>
													<tr>
														<td>
															<div class="d-flex align-items-center">
																<div class="ms-2">
																	<p class="mb-0 text-start font-w500">Vainilla</p>
																</div>
															</div>
														</td>
														<td>
															<p class="mb-0 font-w500">$18.00</p>	
														</td>
														<td>
															<div class="action-button">
																<button type="button" class="btn btn-primary btn-icon-xxs" data-bs-toggle="modal" data-bs-target="#basicModal2"><i class="fas fa-pencil-alt"></i></button>
																<button type="button" class="btn btn-danger btn-icon-xxs" data-bs-toggle="modal" data-bs-target="#basicModal"><i class="fas fa-trash-alt"></i></button>
															</div>
														</td>
													</tr>
													<tr>
														<td>
															<div class="d-flex align-items-center">
																<div class="ms-2">
																	<p class="mb-0 text-start font-w500">Helado</p>
																</div>
															</div>
														</td>
														<td>
															<p class="mb-0 font-w500">$38.00</p>	
														</td>
														<td>
															<div class="action-button">
																<button type="button" class="btn btn-primary btn-icon-xxs" data-bs-toggle="modal" data-bs-target="#basicModal2"><i class="fas fa-pencil-alt"></i></button>
																<button type="button" class="btn btn-danger btn-icon-xxs" data-bs-toggle="modal" data-bs-target="#basicModal"><i class="fas fa-trash-alt"></i></button>
															</div>
														</td>
													</tr>
													<tr>
														<td>
															<div class="d-flex align-items-center">
																<div class="ms-2">
																	<p class="mb-0 text-start font-w500">Nieve</p>
																</div>
															</div>
														</td>
														<td>
															<p class="mb-0 font-w500">$35.00</p>	
														</td>
														<td>
															<div class="action-button">
																<button type="button" class="btn btn-primary btn-icon-xxs" data-bs-toggle="modal" data-bs-target="#basicModal2"><i class="fas fa-pencil-alt"></i></button>
																<button type="button" class="btn btn-danger btn-icon-xxs" data-bs-toggle="modal" data-bs-target="#basicModal"><i class="fas fa-trash-alt"></i></button>
															</div>
														</td>
													</tr>
													<tr>
														<td>
															<div class="d-flex align-items-center">
																<div class="ms-2">
																	<p class="mb-0 text-start font-w500">Cafe</p>
																</div>
															</div>
														</td>
														<td>
															<p class="mb-0 font-w500">$25.00</p>	
														</td>
														<td>
															<div class="action-button">
																<button type="button" class="btn btn-primary btn-icon-xxs" data-bs-toggle="modal" data-bs-target="#basicModal2"><i class="fas fa-pencil-alt"></i></button>
																<button type="button" class="btn btn-danger btn-icon-xxs" data-bs-toggle="modal" data-bs-target="#basicModal"><i class="fas fa-trash-alt"></i></button>
															</div>
														</td>
													</tr>
													<tr>
														<td>
															<div class="d-flex align-items-center">
																<div class="ms-2">
																	<p class="mb-0 text-start font-w500">Frappe</p>
																</div>
															</div>
														</td>
														<td>
															<p class="mb-0 font-w500">$40.00</p>	
														</td>
														<td>
															<div class="action-button">
																<button type="button" class="btn btn-primary btn-icon-xxs" data-bs-toggle="modal" data-bs-target="#basicModal2"><i class="fas fa-pencil-alt"></i></button>
																<button type="button" class="btn btn-danger btn-icon-xxs" data-bs-toggle="modal" data-bs-target="#basicModal"><i class="fas fa-trash-alt"></i></button>
															</div>
														</td>
													</tr>
													<tr>
														<td>
															<div class="d-flex align-items-center">
																<div class="ms-2">
																	<p class="mb-0 text-start font-w500">Capuchino</p>
																</div>
															</div>
														</td>
														<td>
															<p class="mb-0 font-w500">$60.00</p>	
														</td>
														<td>
															<div class="action-button">
																<button type="button" class="btn btn-primary btn-icon-xxs" data-bs-toggle="modal" data-bs-target="#basicModal2"><i class="fas fa-pencil-alt"></i></button>
																<button type="button" class="btn btn-danger btn-icon-xxs" data-bs-toggle="modal" data-bs-target="#basicModal"><i class="fas fa-trash-alt"></i></button>
															</div>
														</td>
													</tr>
													<tr>
														<td>
															<div class="d-flex align-items-center">
																<div class="ms-2">
																	<p class="mb-0 text-start font-w500">Leche</p>
																</div>
															</div>
														</td>
														<td>
															<p class="mb-0 font-w500">$23.00</p>	
														</td>
														<td>
															<div class="action-button">
																<button type="button" class="btn btn-primary btn-icon-xxs" data-bs-toggle="modal" data-bs-target="#basicModal2"><i class="fas fa-pencil-alt"></i></button>
																<button type="button" class="btn btn-danger btn-icon-xxs" data-bs-toggle="modal" data-bs-target="#basicModal"><i class="fas fa-trash-alt"></i></button>
															</div>
														</td>
													</tr>
													<tr>
														<td>
															<div class="d-flex align-items-center">
																<div class="ms-2">
																	<p class="mb-0 text-start font-w500">Panque</p>
																</div>
															</div>
														</td>
														<td>
															<p class="mb-0 font-w500">$88.00</p>	
														</td>
														<td>
															<div class="action-button">
																<button type="button" class="btn btn-primary btn-icon-xxs" data-bs-toggle="modal" data-bs-target="#basicModal2"><i class="fas fa-pencil-alt"></i></button>
																<button type="button" class="btn btn-danger btn-icon-xxs" data-bs-toggle="modal" data-bs-target="#basicModal"><i class="fas fa-trash-alt"></i></button>
															</div>
														</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			
			</div>
        </div>
		
		<div class="modal fade" id="basicModal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Eliminar Producto</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal">
                        </button>
                    </div>
                    <div class="modal-body">Esta seguro que desea eliminarlo?</div>
                    	<div class="modal-footer">
                        <button type="button" class="btn btn-danger light" data-bs-dismiss="modal">Eliminar</button>
                        <button type="button" class="btn btn-primary">Cancelar</button>
                        </div>
                    </div>
                </div>
        </div>

		<div class="modal fade" id="basicModal3">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Nuevo producto</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal">
                        </button>
                    </div>
                    <div class="modal-body">
						<div class="row">	
						<div class="col-xl-6 mb-3">
							<label for="exampleFormControlInput2" class="form-label">Descripcion: <span class="text-danger"></span></label>
							<input type="text" class="form-control" id="exampleFormControlInput2" placeholder="digite su nombre">
						</div>	
						<div class="col-xl-6 mb-3">
							<label class="form-label">Categoria<span class="text-danger">*</span></label>
							<select class="default-select form-control">
								<option  data-display="Select">seleccione</option>
								<option value="html">Pan</option>
								<option value="css">Pastel</option>
								<option value="javascript">Bebida</option>
							</select>
						</div>	
						<div class="col-xl-6 mb-3">
							<label class="form-label">Proveedor<span class="text-danger">*</span></label>
							<select class="default-select form-control">
								<option  data-display="Select">seleccione</option>
								<option value="html">Grupo lala</option>
								<option value="css">Nutrileche</option>
								<option value="javascript">Nestle</option>
							</select>
						</div>
						<div class="col-xl-6 mb-3">
							<label for="exampleFormControlInput2" class="form-label">Precio<span class="text-danger"></span></label>
							<input type="text" class="form-control" id="exampleFormControlInput2" placeholder="0">
						</div>	
					</div>
					</div>
                    	<div class="modal-footer">
                        <button type="button" class="btn btn-danger light" data-bs-dismiss="modal">Agregar</button>
                        <button type="button" class="btn btn-primary">Cancelar</button>
                        </div>
                    </div>
                </div>
        </div>



		<div class="modal fade" id="basicModal2">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Actualizar producto</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal">
                        </button>
                    </div>
                    <div class="modal-body">
						<div class="row">	
						<div class="col-xl-6 mb-3">
							<label for="exampleFormControlInput2" class="form-label">Descripcion: <span class="text-danger"></span></label>
							<input type="text" class="form-control" id="exampleFormControlInput2" placeholder="digite su nombre">
						</div>	
						<div class="col-xl-6 mb-3">
							<label class="form-label">Categoria<span class="text-danger">*</span></label>
							<select class="default-select form-control">
								<option  data-display="Select">seleccione</option>
								<option value="html">Pan</option>
								<option value="css">Pastel</option>
								<option value="javascript">Bebida</option>
							</select>
						</div>	
						<div class="col-xl-6 mb-3">
							<label class="form-label">Proveedor<span class="text-danger">*</span></label>
							<select class="default-select form-control">
								<option  data-display="Select">seleccione</option>
								<option value="html">Grupo lala</option>
								<option value="css">Nutrileche</option>
								<option value="javascript">Nestle</option>
							</select>
						</div>
						<div class="col-xl-6 mb-3">
							<label for="exampleFormControlInput2" class="form-label">Precio<span class="text-danger"></span></label>
							<input type="text" class="form-control" id="exampleFormControlInput2" placeholder="0">
						</div>	
					</div>
					</div>
                    	<div class="modal-footer">
                        <button type="button" class="btn btn-danger light" data-bs-dismiss="modal">Actualizar</button>
                        <button type="button" class="btn btn-primary">Cancelar</button>
                        </div>
                    </div>
                </div>
        </div>
		
        <div class="footer">
            <div class="copyright">
               <p>Copyright © Developed by <a href="https://dexignzone.com/" target="_blank">DexignZone</a> 2023</p>
            </div>
        </div>

	</div>
    <script src="./vendor/global/global.min.js"></script>
	<script src="./vendor/bootstrap-select/dist/js/bootstrap-select.min.js"></script>


	<script src="./vendor/datatables/js/jquery.dataTables.min.js"></script>
	<script src="./js/plugins-init/datatables.init.js"></script>
	<!-- Dashboard 1 -->
    <script src="./js/custom.js"></script>
	<script src="./js/deznav-init.js"></script>
	
   
	
	
	
</body>
</html>